/* @import url("https://fonts.googleapis.com/css?family=News+Cycle:400,700&swap"); */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  /* Allow changing font family via CMS */
  html {
    font-family: var(--font-family);
  }

  body {
    background-color: #283045;
  }

  /** Remove default styles from input[type=number] */
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
  }
}

@layer components {

  /** Prevent scroll when modal is open */
  .no-scroll {
    overflow: hidden;
    height: 100vh;
  }

  [data-dot].current div .dot {
    background-color: black;
  }

  [data-dot] div .dot {
    background-color: #E4E4E7;
  }

  .section-starwars {
    position: relative;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    font: 700 1em "News Cycle", sans-serif;
    letter-spacing: .15em;
    color: #ff6;
    background: #000;
    overflow: hidden;
    margin: 0;
    transition: all ease .6s;
  }

  .section-starwars.off {
    min-height: 0px;
  }

  .section-starwars h2,
  .section-starwars h5 {
    text-align: center;
    margin: 0;
  }

  .section-starwars h2 {
    font-size: 140%;
  }

  .starwars section {
    position: absolute;
    top: 45%;
    left: 50%;
    z-index: 1;
  }

  .starwars .start {
    font-size: 200%;
    width: 14em;
    margin: -4em 0 0 -7em;
    text-align: center;
    cursor: pointer;
  }

  .starwars .start span {
    color: #4bd5ee;
  }

  .starwars .start button {
    display: block;
    text-align: center;
    margin: 24px auto;
    border: 0;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    cursor: pointer;
  }

  .starwars .start button:hover {
    opacity: .9;
  }


  .starwars .start:hover button {
    opacity: .9;
  }


  .starwars .intro {
    width: 15em;
    margin: 0 0 0 -7.5em;
    font-size: 200%;
    font-weight: 400;
    color: #4bd5ee;
    opacity: 0;
    -webkit-animation: intro 6s ease-out 1s;
    animation: intro 6s ease-out 1s;
  }

  .starwars .logo {
    opacity: 0;
    -webkit-animation: logo 9s ease-out 9s;
    animation: logo 9s ease-out 9s;
  }

  .starwars .logo svg {
    width: inherit;
  }

  .starwars .titles {
    width: 14.65em;
    margin: 0 0 0 -7.325em;
    top: auto;
    bottom: 0;
    height: 50em;
    font-size: 350%;
    text-align: justify;
    overflow: hidden;
    transform-origin: 50% 100%;
    transform: perspective(300px) rotateX(25deg);
  }

  .starwars .titles>div {
    position: absolute;
    top: 100%;
    -webkit-animation: titles 81s linear 13s;
    animation: titles 81s linear 13s;
  }

  .starwars .titles>div>p {
    margin: 1.35em 0 1.85em 0;
    line-height: 1.35em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  @-webkit-keyframes intro {
    0% {
      opacity: 0;
    }

    20% {
      opacity: 1;
    }

    90% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }

  @keyframes intro {
    0% {
      opacity: 0;
    }

    20% {
      opacity: 1;
    }

    90% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }

  @-webkit-keyframes logo {
    0% {
      width: 18em;
      margin: -9em 0 0 -9em;
      transform: scale(2.75);
      opacity: 1;
    }

    50% {
      opacity: 1;
      width: 18em;
      margin: -9em 0 0 -9em;
    }

    100% {
      transform: scale(0.1);
      opacity: 0;
      width: 18em;
      margin: -9em 0 0 -9em;
    }
  }

  @keyframes logo {
    0% {
      width: 18em;
      margin: -9em 0 0 -9em;
      transform: scale(2.75);
      opacity: 1;
    }

    50% {
      opacity: 1;
      width: 18em;
      margin: -9em 0 0 -9em;
    }

    100% {
      transform: scale(0.1);
      opacity: 0;
      width: 18em;
      margin: -9em 0 0 -9em;
    }
  }

  @-webkit-keyframes titles {
    0% {
      top: 100%;
      opacity: 1;
    }

    95% {
      opacity: 1;
    }

    100% {
      top: 20%;
      opacity: 0;
    }
  }

  @keyframes titles {
    0% {
      top: 100%;
      opacity: 1;
    }

    95% {
      opacity: 1;
    }

    100% {
      top: 20%;
      opacity: 0;
    }
  }

  .lightsaber {
    position: relative;
  }

  .lightsaber label {
    cursor: pointer;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 88;
    text-indent: -9999px;
    width: 15px;
    height: 50px;
    border-bottom: solid 4px grey;
    border-top: solid 5px grey;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    background: rgb(226, 226, 226);
    background: linear-gradient(to right, rgba(226, 226, 226, 1) 0%, rgba(219, 219, 219, 1) 50%, rgba(209, 209, 209, 1) 51%, rgba(254, 254, 254, 1) 100%);
  }

  .lightsaber .switch {
    background: #B94A37;
    width: 5px;
    height: 10px;
    display: block;
    position: absolute;
    bottom: 25px;
    left: 13px;
    transition: left 200ms;
    border-radius: 10px;
  }

  .lightsaber input[type=checkbox] {
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0;
    z-index: 77;
  }

  .lightsaber .plasma {
    transition: height 300ms, ;
    border-radius: 12px 12px 0 0;
    position: absolute;
    bottom: 55px;
    left: 2px;
    width: 10px;
    display: block;
    filter: blur(1px);
    -moz-filter: blur(1px);
    -webkit-filter: blur(1px);
    -o-filter: blur(1px);
    -ms-filter: blur(1px);
    height: 0;
  }


  .lightsaber input[type=checkbox]:checked~div.plasma {
    height: 250px;
  }

  .lightsaber input[type=checkbox]:hover~div.switch {
    background: #c09853;
    left: 12px;
  }

  .lightsaber input[type=checkbox]:checked~div.switch {
    background: #468847;
  }

  .green {
    background: rgb(135, 220, 90);
    /* Old browsers */
    background: linear-gradient(to right, rgb(135, 220, 90) 0%, rgb(254, 254, 254) 30%, rgb(254, 254, 254) 50%, rgb(254, 254, 254) 70%, rgb(135, 220, 90) 100%);
    animation-name: green;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }

  .red {
    background: rgb(229, 17, 21);
    /* Old browsers */
    background: linear-gradient(to right, rgba(229, 17, 21, 1) 0%, rgba(254, 254, 254, 1) 30%, rgba(254, 254, 254, 1) 47%, rgba(254, 254, 254, 1) 71%, rgba(229, 17, 21, 1) 100%);
    animation-name: red;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }

  .purple {
    background: rgb(202, 116, 221);
    /* Old browsers */
    background: linear-gradient(to right, rgba(202, 116, 221, 1) 0%, rgba(254, 254, 254, 1) 30%, rgba(254, 254, 254, 1) 47%, rgba(254, 254, 254, 1) 71%, rgba(202, 116, 221, 1) 100%);
    animation-name: purple;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }

  .blue {
    background: rgb(55, 132, 214);
    /* Old browsers */
    background: linear-gradient(to right, rgba(55, 132, 214, 1) 0%, rgba(254, 254, 254, 1) 30%, rgba(254, 254, 254, 1) 47%, rgba(254, 254, 254, 1) 71%, rgba(55, 132, 214, 1) 100%);
    animation-name: blue;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }

  /* Animations */
  @keyframes green {
    from {
      box-shadow: 0 0 10px #7EC855;
    }

    50% {
      box-shadow: 0 0 16px #7EC855;
    }

    to {
      box-shadow: 0 0 10px #7EC855;
    }
  }

  @keyframes red {
    from {
      box-shadow: 0 0 10px #e51115;
    }

    50% {
      box-shadow: 0 0 16px #e51115;
    }

    to {
      box-shadow: 0 0 10px #e51115;
    }
  }

  @keyframes purple {
    from {
      box-shadow: 0 0 10px #ca74dd;
    }

    50% {
      box-shadow: 0 0 16px #ca74dd;
    }

    to {
      box-shadow: 0 0 10px #ca74dd;
    }
  }

  @keyframes blue {
    from {
      box-shadow: 0 0 10px #3784d6;
    }

    50% {
      box-shadow: 0 0 16px #3784d6;
    }

    to {
      box-shadow: 0 0 10px #3784d6;
    }
  }


}

@layer utilities {

  /** Remove scrollbar from overflow-auto */
  .scrollbar-none {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }

  /* width */
  .videos ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  .videos ::-webkit-scrollbar-track {
    background: #888;
    border-radius: 5px;
  }

  /* Handle */
  .videos ::-webkit-scrollbar-thumb {
    background: #000;
    border-radius: 5px;
  }

  /* Handle on hover */
  .videos ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  .hover-i {
    opacity: 1 !important;
    scale: 1.1;
    z-index: 9;
  }
}